@{
    ViewData["Title"] = "Index";
}

<div class="hero">
    <div class="d-flex flex-column justify-content-center h-100 offset-lg-3 col-lg-6 offset-sm-0 col-sm-12">
        <div class="bg-dark-opacity px-4 pb-4 pt-2">
            <h3 class="text-white">Connexion</h3>
            <div class="w-50 mx-auto pt-5">
                <form asp-action="Connect" method="post">
                    <label class="bg-primary text-white pr-4 py-1 pl-2 mb-3 w-25" style="width: 100px;" ></label><input class="w-75" /> <br/>
                    <label class="bg-primary text-white pr-4 py-1 pl-2 w-25" style="width: 100px;" ></label><input class="w-75" /> <br/>
                    <input class="mt-3 nav-link btn-connect-white mx-auto" type="submit" asp-controller="Conges" asp-action="Index">
                </form>
            </div>
        </div>
    </div>
</div>