@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model MyCompanyManager.Models.Absences
@{
    ViewData["Title"] = "Assign";
}

<h2>Assign</h2>

<form asp-action="Assign">
    <label asp-for="DateDebut"></label><input asp-for="DateDebut"/>
    <label asp-for="DateFin"></label><input asp-for="DateFin"/>
    <label asp-for="Employe"></label><input asp-for="Employe"/>
    <label asp-for="Raison"></label><input asp-for="Raison"/>
    <label asp-for="Commentaire"></label><input asp-for="Commentaire"/>
    <input type="submit"/>
</form>

