
@{
    ViewData["Title"] = "Index";
}

<header>
    <div class="title">
        <h1>MyCompany Manager</h1>
    </div>
    <nav>
        <a href="#" class="blue-button">Se connecter</a>
    </nav>
</header>
<body>
    <div class="hero">
        <div class="hero-content">
            <h2>MyCompany Manager</h2>
            <p>
                MyCompany Manager permet à un employé de gérer ses demandes de congés et ses absences, le tout en quelques clics.
            </p>
            <p>
                Le travail du responsable d'équipe est également facilité puisqu'il a accès à toutes les informations nécessaires sur une seule et même plateforme.
            </p>
            <a href="#" class="blue-button">Se connecter</a>
        </div>
    </div>
</body>

